<% provide(:title, "Edit Profile") %>

<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-column">
  <%= form_for @user do |f| %>
    <div class="edit-field"><h1 class="edit-title">Required</h1></div>
    <div class="form-group">
      <%= f.label :username, "Username" %>
      <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="edit-field"><h1 class="edit-title">Optional</h1></div>
    <div class="form-group">
      <%= f.label :fullname, "Fullname" %>
      <%= f.text_field :fullname, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :website, "Website" %>
      <%= f.text_field :website, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :phonenumber, "Phonenumber" %>
      <%= f.text_field :phonenumber, class: "form-control" %>
    </div>

    <div class="form-group">
      <h6>Gender</h6>
      <div class="form-check form-check-inline">
        <%= f.radio_button :gender, "male", class: 'form-check-input' %>
        <%= f.label :gender, "Male", class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :gender, "female", class: 'form-check-input' %>
        <%= f.label :gender, "Female", class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :gender, "other", class: 'form-check-input' %>
        <%= f.label :gender, "Other", class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :gender, "", class: 'form-check-input' %>
        <%= f.label :gender, "No answer", class: 'form-check-label' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :introduce, "Introduce" %>
      <%= f.text_area :introduce, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :profile_image, "Profile Image" %>
      <%= f.file_field :profile_image, class: "form-control" %>
    </div></br>

    <%= f.submit "Update", class: "btn btn-primary", id: "submit-btn" %>
  <% end %>
</div>

<div class="form-column" style="padding-top: 60px">
  <%= link_to "Change your password", edit_user_registration_path %></br>
  <% if @user.id == current_user.id %>
    <%= link_to "Delete account", @user, method: :delete, data: { confirm: "You sure?" }, class: "danger-msg" %>
  <% end %>
</div>