<% provide(:title, @user.username) %>

<div class="col-12 col-sm-9 col-md-9" style="margin: 0 auto">
  <div class="prof-img-name">
    <figure class="float-left"  style="margin-left: auto; margin-right: auto;">
      <%= image_tag @user.profile_image.to_s, class: "prof-img" %>
    </figure>
    <div id="user-status">
      <h3><%= @user.username %></h3>
      <%= render 'follow_status' %>
      <%= render 'follow_form' %>
    </div>
  </div>
  <div class="column is-8">
    <table class="table is-fullwidth">
      <tr>
        <% if @user.id == current_user.id %>
          <td class="is-size-4">
            <%= @user.email %>
            <% @user ||= current_user %>
          </td>
          <td>
            <%= link_to "Edit", edit_user_path(@user), class: "button is-primary" %>
          </td>
        <% end %>
      </tr>
    </table>
    <table class="table is-fullwidth">
      <tr>
        <td><%= simple_format(@user.introduce, sanitize: true) %></td>
      </tr>
    </table>
  </div>


  <div style="margin: 0px auto">
    <h1 id="simple-heading">Additional Profile</h1>

    <div class="row row-cols-2" style="margin-bottom: 15px">
      <h3 class="col-4 font-weight-normal">Fullname:</h3>
      <h5 class="font-weight-light col-8 sub-title"><%= @user.fullname %></h5>
    </div>

    <div class="row row-cols-2" style="margin-bottom: 15px">
      <h3 class="col-4 font-weight-normal">Website:</h3>
      <h5 class="font-weight-light col-8 sub-title"><%= @user.website %></h5>
    </div>

    <% if @user.id == current_user.id %>
      <div class="row row-cols-2" style="margin-bottom: 15px">
        <h3 class="col-4 font-weight-normal">Phone:</h3>
        <h5 class="font-weight-light col-8 sub-title"><%= @user.phonenumber %></h5>
      </div>

      <div class="row row-cols-2" style="margin-bottom: 30px">
        <h3 class="col-4 font-weight-normal">Gender:</h3>
        <h5 class="font-weight-light col-8 sub-title"><%= @user.gender %></h5>
      </div>
    <% end %>
  </div>
</div>
<div class="col-12 col-sm-9 col-md-9" style="margin: 0px auto">
  <h1 id="simple-heading">Posts : <%= @user.posts.count %></h1>
  <div class="row col-12 col-sm-12 col-md-12" id="post-index" style="padding-right: 0">
    <% @user.posts.each do |post| %>
      <a href="#" class="col-4 col-sm-4 col-md-4" id="post-index-img" data-toggle ="modal" data-target = "#Modal-<%= post.id %>">
        <%= image_tag post.post_image.to_s,class: "col-12 col-sm-12 col-md-12", id: "mar-pad-zero" %>
      </a>
      <%= render 'posts/post_form', post: post %>
    <% end %>
  </div>
</div>