<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item active" aria-current="page">
          <%= yield(:title) %>
        </li>
      </ol>
    </nav>
    <%= render 'layouts/flash' %>
    <div class="container" id="main-container">
      <%= yield %>
    </div>
    <footer class="footer bg-light">
      <p style="width: 50%; padding: 10px">
        Copyright © 2020 Shares. All rights reserved.
      </p>
    </footer>
  </body>
</html>