<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item">
          <h2><%= yield(:title) %></h2>
        </li>
      </ol>
    </nav>
    <%= render 'layouts/flash' %>
    <div class="container w-100 p-3" id="main-container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>